*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212 ;
    padding: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cadstro{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 15px;
}
.conteiner{
    display: flex;
    flex-direction: column; 
    gap: 30px;
     text-align: center; 
}
.conteiner img{
    width: 10%;
    margin: auto;
}
.conteiner h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
}
.conteiner input{
    padding: 15px;
    width: 20rem;
    border-radius: 3px;
    background-color: #121212;
    border: 3px solid white;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conteiner p{
    top: 5%;
    right: 11%;
    position: relative;
    color: white;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
   background-color: #3be477;
   padding: 15px;
   width: 40vh;
   border: none;
   color: #000;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font: 400;
   border-radius: 30px;
   font-weight: 700;
   cursor: pointer;
   transition: background-color 0.3 ease, color 0.3s ease, transform 0.1 ease;
   /* max-width: 100px; */
}
button:hover{
    background-color: lime; 
    color: black;
    font-weight: 700;
   width: 10rem;
   transition-duration: 1s;
}
p{
    font-weight: 700;
    text-align: center;
    color: white;
    font: 200;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-weight: 700;
    text-align: center;
    color: white;
    font: 200;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top:5%;
    right: 25%;
    position: relative;
}
.confirm{
    background-color: #3BE477;
    border: none;
    padding: 15px;
    width: 40vh;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 400;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 1.0s ease;
    top: 5%;
    left: 27%;
    position: relative;
}
.confirm a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: blue;
    width: 20rem;
    border-radius: 30px;
    background-color: transparent;
    border: solid 1px white;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
    color: white;
    text-decoration: none; 
}

.phone img{
    width: 3rem;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: blue;
    width: 20rem;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    border: solid 1px white;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
    color: white;
    text-decoration: none; 
}
.google a{
    text-decoration: none;
}
.apple a{
    text-decoration: none;
}
.facebook a{
    text-decoration: none;
}
.telefone a{
    text-decoration: none;
}
.google img{
    width: 2rem;
}
.facebook{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20rem;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    border: solid 1px white;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
    color: white;
    text-decoration: none;
}
.facebook img{
    width: 2rem;
}
.apple{
         display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: blue;
    width: 20rem;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    border: solid 1px white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
    color: white; 
    text-decoration: none; 
}
.apple img{
    width: 2rem;
}
.phone:hover,
.google:hover,
.facebook:hover,
.apple:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    border-color: #fff; 
    transform: scale(0.99); 
}
.subscribe p{
    color: grey;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
}
.subscribe h2{
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    /* transition: font-size 1s ease; */
}
.subscribe a{
     transition: color 1s ease;
     font: 400;
     text-align: center;
     text-decoration: none;
}
.subscribe a:hover{
   font-size: 20px;
   color: black;
   transition-duration: 1s;
}
footer a{
    color: grey;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
footer p{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    transition: color 1.0s ease;
}
footer a:hover{
    color: lime;
}
