*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212 ;
    padding: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inscricao{
     display: block;
    min-height: 100vh;
    padding: 15px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.conteiner img{
    width: 10%;
    margin: auto;
}
.conteiner h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
}
.conteiner input{
    padding: 15px;
    width: 20rem;
    border-radius: 3px;
    background-color: #121212;
    border: solid 3px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    color: wheat;
}
.conteiner button{
    text-align: center;
    left: 4%;
    position: relative;
}
.conteiner p{
       font-weight: 700;
    /* text-align: center; */
    font: 200;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 2%;
    right: 19%;
    position: relative;
}
a{
    color: #3BE477;
    text-decoration: underline;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left:  19%;
    position: relative;
    /* top: 5%; */
    /* text-align: center; */
}
p{
    font-weight: 700;
    text-align: center;
    font: 200;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 15px;
}
h4{
    text-align: center;
    font-weight: 700;
    text-align: center;
    font: 200;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
button{
    background-color: #3BE477;
    border: none;
    padding: 15px;
    width: 40vh;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 400;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 1.0s ease;
    top: 5%;
    left: 27%;
    position: relative;
}
button:hover{
    background-color: #0eff62;
    transition-duration: 1.0s;
    font-weight: 800;
    width: 50%;
}

.google{
    display: flex;
    margin: auto;
    background-color: blue;
    width: 20rem;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    border: solid 1px white;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
    color: white;
    text-decoration: none; 
}
.google p{
    margin: auto;   
}
.google a{
    text-decoration: none;
}

.google img{
    width: 3rem;
    gap: 70px;
}
.apple{
   display: flex;
    margin: auto;
    background-color: blue;
    width: 20rem;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    border: solid 1px white;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
    color: white;
    text-decoration: none; 
}
.apple:hover
.google:hover{
      background-color: rgba(255, 0, 0, 0.1); 
    border-color: #fff; 
    transform: scale(0.99);
}
.apple a{
    text-decoration: none;
}
.apple p{
    margin: auto;
}

.apple img{
    width: 3rem;
    gap: 50px;
}
footer a{
    color: grey;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
footer p{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    transition: color 1.0s ease;
}
footer a:hover{
    color: lime;
}

